############################################################################
# Current User selected PinOut                                             #
############################################################################
NET  "clk_ref"		 LOC = "K24" ;
NET  "ddr3_addr[0]"		 LOC = "AL19" ;
NET  "ddr3_addr[10]"		 LOC = "AM22" ;
NET  "ddr3_addr[11]"		 LOC = "AN22" ;
NET  "ddr3_addr[12]"		 LOC = "AG20" ;
NET  "ddr3_addr[13]"		 LOC = "AG21" ;
NET  "ddr3_addr[1]"		 LOC = "AF20" ;
NET  "ddr3_addr[2]"		 LOC = "AF21" ;
NET  "ddr3_addr[3]"		 LOC = "AM21" ;
NET  "ddr3_addr[4]"		 LOC = "AL21" ;
NET  "ddr3_addr[5]"		 LOC = "AC19" ;
NET  "ddr3_addr[6]"		 LOC = "AM23" ;
NET  "ddr3_addr[7]"		 LOC = "AL23" ;
NET  "ddr3_addr[8]"		 LOC = "AK21" ;
NET  "ddr3_addr[9]"		 LOC = "AJ21" ;
NET  "ddr3_ba[0]"		 LOC = "AC20" ;
NET  "ddr3_ba[1]"		 LOC = "AD20" ;
NET  "ddr3_ba[2]"		 LOC = "AK19" ;
NET  "ddr3_cas_n"		 LOC = "AN19" ;
NET  "ddr3_ck_n[0]"		 LOC = "AE19" ;
NET  "ddr3_ck_p[0]"		 LOC = "AF19" ;
NET  "ddr3_cke[0]"		 LOC = "AM20" ;
NET  "ddr3_cs_n[0]"		 LOC = "AG22" ;
NET  "ddr3_dm[0]"		 LOC = "AP29" ;
NET  "ddr3_dm[1]"		 LOC = "AM26" ;
NET  "ddr3_dm[2]"		 LOC = "AP24" ;
NET  "ddr3_dm[3]"		 LOC = "AP17" ;
NET  "ddr3_dm[4]"		 LOC = "AM15" ;
NET  "ddr3_dm[5]"		 LOC = "AN14" ;
NET  "ddr3_dm[6]"		 LOC = "AN12" ;
NET  "ddr3_dm[7]"		 LOC = "AL10" ;
NET  "ddr3_dq[0]"		 LOC = "AH27" ;
NET  "ddr3_dq[10]"		 LOC = "AM28" ;
NET  "ddr3_dq[11]"		 LOC = "AN28" ;
NET  "ddr3_dq[12]"		 LOC = "AK28" ;
NET  "ddr3_dq[13]"		 LOC = "AJ27" ;
NET  "ddr3_dq[14]"		 LOC = "AH24" ;
NET  "ddr3_dq[15]"		 LOC = "AL26" ;
NET  "ddr3_dq[16]"		 LOC = "AP25" ;
NET  "ddr3_dq[17]"		 LOC = "AL24" ;
NET  "ddr3_dq[18]"		 LOC = "AK23" ;
NET  "ddr3_dq[19]"		 LOC = "AL25" ;
NET  "ddr3_dq[1]"		 LOC = "AH28" ;
NET  "ddr3_dq[20]"		 LOC = "AM25" ;
NET  "ddr3_dq[21]"		 LOC = "AP26" ;
NET  "ddr3_dq[22]"		 LOC = "AP27" ;
NET  "ddr3_dq[23]"		 LOC = "AJ24" ;
NET  "ddr3_dq[24]"		 LOC = "AD15" ;
NET  "ddr3_dq[25]"		 LOC = "AD16" ;
NET  "ddr3_dq[26]"		 LOC = "AN17" ;
NET  "ddr3_dq[27]"		 LOC = "AG17" ;
NET  "ddr3_dq[28]"		 LOC = "AP16" ;
NET  "ddr3_dq[29]"		 LOC = "AP15" ;
NET  "ddr3_dq[2]"		 LOC = "AN30" ;
NET  "ddr3_dq[30]"		 LOC = "AJ17" ;
NET  "ddr3_dq[31]"		 LOC = "AJ16" ;
NET  "ddr3_dq[32]"		 LOC = "AJ15" ;
NET  "ddr3_dq[33]"		 LOC = "AN15" ;
NET  "ddr3_dq[34]"		 LOC = "AK14" ;
NET  "ddr3_dq[35]"		 LOC = "AJ14" ;
NET  "ddr3_dq[36]"		 LOC = "AG15" ;
NET  "ddr3_dq[37]"		 LOC = "AF15" ;
NET  "ddr3_dq[38]"		 LOC = "AG16" ;
NET  "ddr3_dq[39]"		 LOC = "AH15" ;
NET  "ddr3_dq[3]"		 LOC = "AM30" ;
NET  "ddr3_dq[40]"		 LOC = "AP14" ;
NET  "ddr3_dq[41]"		 LOC = "AH14" ;
NET  "ddr3_dq[42]"		 LOC = "AH13" ;
NET  "ddr3_dq[43]"		 LOC = "AH12" ;
NET  "ddr3_dq[44]"		 LOC = "AG12" ;
NET  "ddr3_dq[45]"		 LOC = "AM13" ;
NET  "ddr3_dq[46]"		 LOC = "AN13" ;
NET  "ddr3_dq[47]"		 LOC = "AE14" ;
NET  "ddr3_dq[48]"		 LOC = "AM11" ;
NET  "ddr3_dq[49]"		 LOC = "AC12" ;
NET  "ddr3_dq[4]"		 LOC = "AG25" ;
NET  "ddr3_dq[50]"		 LOC = "AD11" ;
NET  "ddr3_dq[51]"		 LOC = "AL11" ;
NET  "ddr3_dq[52]"		 LOC = "AG10" ;
NET  "ddr3_dq[53]"		 LOC = "AM12" ;
NET  "ddr3_dq[54]"		 LOC = "AH10" ;
NET  "ddr3_dq[55]"		 LOC = "AP12" ;
NET  "ddr3_dq[56]"		 LOC = "AM10" ;
NET  "ddr3_dq[57]"		 LOC = "AF11" ;
NET  "ddr3_dq[58]"		 LOC = "AC14" ;
NET  "ddr3_dq[59]"		 LOC = "AD14" ;
NET  "ddr3_dq[5]"		 LOC = "AG26" ;
NET  "ddr3_dq[60]"		 LOC = "AK11" ;
NET  "ddr3_dq[61]"		 LOC = "AJ11" ;
NET  "ddr3_dq[62]"		 LOC = "AE12" ;
NET  "ddr3_dq[63]"		 LOC = "AE13" ;
NET  "ddr3_dq[6]"		 LOC = "AL29" ;
NET  "ddr3_dq[7]"		 LOC = "AN29" ;
NET  "ddr3_dq[8]"		 LOC = "AM27" ;
NET  "ddr3_dq[9]"		 LOC = "AJ25" ;
NET  "ddr3_dqs_n[0]"		 LOC = "AP31" ;
NET  "ddr3_dqs_n[1]"		 LOC = "AJ26" ;
NET  "ddr3_dqs_n[2]"		 LOC = "AN24" ;
NET  "ddr3_dqs_n[3]"		 LOC = "AC17" ;
NET  "ddr3_dqs_n[4]"		 LOC = "AL14" ;
NET  "ddr3_dqs_n[5]"		 LOC = "AL13" ;
NET  "ddr3_dqs_n[6]"		 LOC = "AG13" ;
NET  "ddr3_dqs_n[7]"		 LOC = "AJ12" ;
NET  "ddr3_dqs_p[0]"		 LOC = "AP30" ;
NET  "ddr3_dqs_p[1]"		 LOC = "AK26" ;
NET  "ddr3_dqs_p[2]"		 LOC = "AN25" ;
NET  "ddr3_dqs_p[3]"		 LOC = "AC18" ;
NET  "ddr3_dqs_p[4]"		 LOC = "AL15" ;
NET  "ddr3_dqs_p[5]"		 LOC = "AK13" ;
NET  "ddr3_dqs_p[6]"		 LOC = "AF13" ;
NET  "ddr3_dqs_p[7]"		 LOC = "AK12" ;
NET  "ddr3_odt[0]"		 LOC = "AE21" ;
NET  "ddr3_ras_n"		 LOC = "AK22" ;
NET  "ddr3_reset_n"		 LOC = "AM18" ;
NET  "ddr3_we_n"		 LOC = "AN20" ;
NET  "error"		 LOC = "C18" ;
NET  "phy_init_done"		 LOC = "B18" ;
NET  "scl"		 LOC = "D22" ;
NET  "sda"		 LOC = "C22" ;
NET  "sys_clk"		 LOC = "A10" ;
NET  "sys_rst"		 LOC = "A18" ;
